Options -MultiViews
RewriteEngine On
RewriteBase /Sistema-Escritorio-Juridico/

RewriteCond %{REQUEST_URI} !^/Sistema-Escritorio-Juridico/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
