.btn, .btn__outline, .btn__primary {
    border: none;
    display: flex;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    border-radius: var(--border-normal);
    padding: 7px 14px;
    font-size: 12px;
    gap: 5px;
}
.btn__outline {
    color: var(--secondary);
    background-color: white;
    border: 1px solid var(--body-outline);
}
.btn__primary {
    background-color: var(--primary-background);
    border: 1px solid var(--primary-background);
    color: white;
}
.btn__menu{
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--primary-color);
}

button, .btn__table-delete, .btn__table-update, .btn__table-view, .btn__table-download{
    border: none;
    display: flex;
    outline: none;
    cursor: pointer;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border-radius: var(--border-small);
    padding: 4px 6px;
    color: white;
}
.btn__icon{
    background-color: transparent;
    color: var(--primary);
    padding: 6px;
    border-radius: 50%;
}
.btn__icon:hover{
    background-color: var(--body-outline);
}
.btn__table-delete{
    background-color: #ad0000;
}
.btn__table-update{
    background-color: var(--primary);
}
.btn__table-view{
    background-color: var(--secondary);
}
.btn__table-download{
    background-color: #0d9696;
}