.input-search{
    outline: none;
    border: 1px solid var(--body-outline);
    background-color: var(--neutral-outiline);
    border-radius: 3px;
    padding: 8px 14px;
    min-width: 260px;
    font-size: 12px;
    width: 100%;
}

.form-control, .form-select {
    border-radius: 3px;
}
.modal-content{
    border: none;
    border-radius: 6px;
}
.modal-header{
    background-color: #243449;
    color: var(--neutral);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0.8rem 1.8rem;
}

/*
.form-control, .form-select {
    border-bottom: 2px solid var(--primary-outline) !important;
}
.form-control:focus, .form-select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-bottom-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}
*/
.form-control[type="text"], 
.form-control[type="number"], 
.form-control[type="email"], 
.form-control[type="date"], 
.form-control[type="password"], 
.form-select {
    margin: 0px !important;
    padding-left: 6px !important;
    padding-bottom: 2px !important;
    border-radius: 0 !important;
    font-size: 15px;
    border: none !important;
    transition: all 0.3s ease;
    color: var(--secondary) !important;
    background-color: transparent !important;
    border-bottom: 2px solid var(--primary-outline) !important;
    background-position: right 10px top 25px !important;
}
.form-control[type="text"]:focus, 
.form-control[type="number"]:focus, 
.form-control[type="email"]:focus, 
.form-control[type="date"]:focus, 
.form-control[type="password"]:focus,
.form-select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-bottom-color: var(--primary-background) !important;
    color: var(--primary) !important;
}
.form-floating .form-label{
    align-items: center !important;
    display: flex !important;
    padding-bottom: 7px !important;
    padding-left: 0 !important;
    font-size: 12px;
}
.form-control[type="text"]:focus ~ .form-label, 
.form-control[type="number"]:focus ~ .form-label, 
.form-control[type="email"]:focus ~ .form-label, 
.form-control[type="date"]:focus ~ .form-label, 
.form-control[type="password"]:focus ~ .form-label, 
.form-select:focus ~ .form-label {
    color: var(--primary) !important;
}
.form-control[type="text"].is-invalid, 
.form-control[type="number"].is-invalid, 
.form-control[type="email"].is-invalid, 
.form-control[type="date"].is-invalid, 
.form-control[type="password"].is-invalid,
.form-select.is-invalid {
    border-bottom-color: #ad0000!important;
}
.form-control[type="text"].is-invalid ~ .form-label, 
.form-control[type="number"].is-invalid ~ .form-label, 
.form-control[type="email"].is-invalid ~ .form-label, 
.form-control[type="date"].is-invalid ~ .form-label, 
.form-control[type="password"].is-invalid ~ .form-label, 
.form-select.is-invalid ~ .form-label {
    color: #ad0000 !important;
}
.form-control[type="text"].is-valid, 
.form-control[type="number"].is-valid, 
.form-control[type="email"].is-valid, 
.form-control[type="date"].is-valid, 
.form-control[type="password"].is-valid,
.form-select.is-valid {
    border-bottom-color: #366641!important;
}
.form-control[type="text"].is-valid ~ .form-label, 
.form-control[type="number"].is-valid ~ .form-label, 
.form-control[type="email"].is-valid ~ .form-label, 
.form-control[type="date"].is-valid ~ .form-label, 
.form-control[type="password"].is-valid ~ .form-label, 
.form-select.is-valid ~ .form-label {
    color: #366641 !important;
}