.sidebar__container {
    width: 246px;
    height: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--primary);
    transition: transform 0.3s ease-in-out;
}
.sidebar__header {
    background: var(--primary-background);
    box-shadow: 0 2px 4px rgba(94, 94, 94, 0.034);
    padding: 11px 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar__header-logo {
    width: 42px;
    height: 38px;
    font-size: 13px;
    border-radius: var(--border-normal);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bdc7dc;
    background-color: #3d4963;
}
.sidebar__header-title {
    color: var(--neutral);
    font-size: 16px;
    font-weight: 600;
    margin-top: 3px;
}
.sidebar__header-subtitle {
    color: var(--secondary-subtitle);
    font-size: 11px;
    margin-top: -3px;
}

.sidebar__nav {
    flex-direction: column;
    display: flex;
    overflow-y: auto;
}
.sidebar__nav-item, .sidebar__nav-dropdown {
    background: none;
    gap: 8px;
    font-size: 13px;
    font-weight: 500;
    padding: 14px 14px 14px 20px;
    color: var(--secondary-subtitle);
    transition: all 0.2s ease-in-out;
    align-items: center;
    cursor: pointer;
    display: flex;
}
.sidebar__nav-item button{
    background-color: transparent;
}
.sidebar__nav-dropdown-menu .sidebar__nav-item{
    padding: 12px 26px;
}
.sidebar__nav-item:hover, .sidebar__nav-dropdown:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.sidebar__nav-item.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.sidebar__nav-item-dropdown {
    flex-direction: column;
    display: flex;
    width: 100%;
}
.sidebar__nav-item-dropdown.active .dropdown-arrow {
    transform: rotate(180deg);
}
.dropdown-arrow {
    transition: all 0.3s ease-in-out;
}
.sidebar__nav-dropdown-menu {
    flex-direction: column;
    display: none;
}
.sidebar__nav-item-dropdown.active .sidebar__nav-dropdown-menu {
    background-color: #243449;
    display: flex;
}
.sidebar__nav-item-dropdown.active .sidebar__nav-dropdown {
    background-color: var(--secondary-container);
    color: var(--primary);
}

.sidebar__nav::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}
.sidebar__nav::-webkit-scrollbar-track {
    background: var(--primary);
}
.sidebar__nav::-webkit-scrollbar-thumb {
    background-color: #3d4963;
}

.sidebar__container.collapsed {
    transform: translateX(-100%);
}
.main-content.expanded {
    margin-left: 0;
}