.sidebar {
    width: 236px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
}
.sidebar-header {
    background: var(--primary-background);
    box-shadow: 0 2px 4px rgba(94, 94, 94, 0.034);
    padding: 11px 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar-header-logo {
    width: 42px;
    height: 38px;
    font-size: 13px;
    border-radius: var(--border-normal);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bdc7dc;
    background-color: #3d4963;
}
.sidebar-header-title {
    color: var(--neutral);
    font-size: 16px;
    font-weight: 600;
    margin-top: 3px;
}
.sidebar-header-subtitle {
    color: var(--secondary-subtitle);
    font-size: 11px;
    margin-top: -3px;
}

.sidebar-nav {
    flex-direction: column;
    display: flex;
    overflow-y: auto;
}
.sidebar-nav-item, .sidebar-nav-dropdown {
    gap: 8px;
    font-size: 13px;
    font-weight: 500;
    padding: 14px 14px 14px 20px;
    color: var(--secondary-subtitle);
    transition: all 0.2s ease-in-out;
    align-items: center;
    cursor: pointer;
    display: flex;
}
.sidebar-nav-dropdown-menu .sidebar-nav-item{
    padding: 12px 26px;
}
.sidebar-nav-item:hover, .sidebar-nav-dropdown:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.sidebar-nav-item.active {
    background-color: var(--secondary-container);
    color: var(--secondary-container);
}
.sidebar-nav-item-dropdown {
    flex-direction: column;
    display: flex;
    width: 100%;
}
.sidebar-nav-item-dropdown.active .dropdown-arrow {
    transform: rotate(180deg);
}
.dropdown-arrow {
    transition: all 0.3s ease-in-out;
}
.sidebar-nav-dropdown-menu {
    flex-direction: column;
    display: none;
}
.sidebar-nav-item-dropdown.active .sidebar-nav-dropdown-menu {
    background-color: #243449;
    display: flex;
}
.sidebar-nav-item-dropdown.active .sidebar-nav-dropdown {
    background-color: var(--secondary-container);
    color: var(--primary);
}

.sidebar-nav::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}
.sidebar-nav::-webkit-scrollbar-track {
    background: var(--primary);
}
.sidebar-nav::-webkit-scrollbar-thumb {
    background-color: #3d4963;
}