/* --------------- Estilos para las tablas ---------------- */
.table__container {
    padding: 18px;
}
.table__content {
    overflow: hidden;
    border-collapse: collapse;
    border-radius: var(--border-normal);
    width: 100%;
}
.table__content th {
    background-color: var(--primary);
    color: var(--neutral);
    font-weight: 600;
    font-size: 12px;
    padding: 12px !important;
    text-align: left;
}
.table__content td {
    font-size: 12px;
    padding: 8px 12px !important;
    border-bottom: 1px solid var(--primary-outline);
}
.table__content td span {
    font-size: 11px;
    font-weight: normal;
}
.table__content tr:last-child td {
    border: none;
}
.table__buttons{
    justify-content: center;
    display: flex;
    gap: 4px;
}
/* ---------- Configuración de Estilos de DataTables ---------- */
.dataTables_wrapper {
    font-size: 12px !important;
}
.dataTables_wrapper .dataTables_info {
    color: var(--primary-subtitle);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: var(--primary-background) !important;
    color: var(--neutral) !important;
    border: transparent !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: var(--primary) !important;
    color: white !important;
    transition: all 0.3s ease-in-out;
}
.dataTables_wrapper .dataTables_filter, .dataTables_length {
    margin-bottom: 12px !important; 
}
.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select {
    outline: none;
}
.dataTables_wrapper .dataTables_info, .dataTables_paginate {
    margin: 0 0 0 6px !important;
    margin-top: 12px !important;
}
/* -------- Fin Configuración de Estilos de DataTables -------- */
/* ---------------- Fin Estilos para las tablas --------------- */